<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-4.0.xsd"
	default-autowire="byName">

	<dubbo:application name="dubbodemoserviceconsumer"/>

    <dubbo:registry id="demoRegistry"  protocol="zookeeper" address="127.0.0.1:2181"/>

    <!--
    <dubbo:registry address="multicast://127.0.0.1:1234"/>
    -->
    <!-- 使用监控中心 -->
    <dubbo:monitor protocol="registry"/>
    
    <dubbo:consumer check="false" />

    <dubbo:reference id="demoService" interface="com.demo.service.DemoService" check="false" registry="demoRegistry"/>

</beans>
